@media screen and (max-width:1200px){

}
@media screen and (max-width:991px){

}
@media screen and (max-width:680px){

}
@media screen and (max-width:640px){
	.overlay ul{margin-left:0px;}
	.overlay ul li a{padding:20px 0;min-width:120px;font-size:12px;}
}
@media screen and (max-width:480px){

}
@media screen and (max-width:465px){
	.hero h1{font-size:40px;margin:100px 0 45px 0}
}