<section id="process">
    <div class="container">
        <h2>{{ tagline }}</h2>
        <ul class="process">
            <li>
              <div class="process-badge primary"><a><i class="fa fa-circle-o" rel="tooltip" title="We are badasses" id=""></i></a></div>
              <div class="process-panel">
                <div class="process-heading">
                  
                </div>
                <div class="process-body">
                    <h3>Meet</h3>
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
                </div>
                
              </div>
            </li>
            
            <li  class="process-inverted">
              <div class="process-badge primary"><a><i class="fa fa-circle-o invert" rel="tooltip" title="We are badasses" id=""></i></a></div>
              <div class="process-panel">
                <div class="process-heading">
                  
                </div>
                <div class="process-body">
                    <h3>Plan</h3>
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
                 
                </div>
              </div>
            </li>
            <li>
              <div class="process-badge primary"><a><i class="fa fa-circle-o" rel="tooltip" title="We are badasses" id=""></i></a></div>
              <div class="process-panel">
                <div class="process-body">
                    <h3>Design &amp; Develop</h3>
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
                  
                </div>

              </div>
            </li>
            
            <li  class="process-inverted">
              <div class="process-badge primary"><a><i class="fa fa-circle-o invert" rel="tooltip" title="We are badasses" id=""></i></a></div>
              <div class="process-panel">
                <div class="process-body">
                    <h3>Test</h3>
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
                  
                </div>
                
              </div>
            </li>
            <li>
              <div class="process-badge primary"><a><i class="fa fa-circle-o" rel="tooltip" title="We are badasses" id=""></i></a></div>
              <div class="process-panel">
                <div class="process-heading">
                  
                </div>
                <div class="process-body">
                    <h3>Launch</h3>
                    <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga.</p>
                  
                </div>
                
              </div>
            </li>
            
            <li class="clearfix" style="float: none;"></li>
        </ul>
    </div>
</section>
