<section id="actions" class="homepage-section">
    <div class="container">
        <div class="row text-center">
            <h2>{{ tagline }}</h2>
            <div class="col-sm-4" ng-repeat="service in services">
                <div class="action">                           
                    <div class="icon">
                        <div class="image {{service.icon.name}}"><i class="fa fa-{{service.icon.name}}"></i></div>
                        <h3>{{service.name}}</h3>
                        <p>{{service.tag}}</p>
                    </div>
                </div> <!--/.action-->
            </div>
        </div> <!--/.row-->
    </div> <!--/.container-->
</section>
