<section id="team">
	<div class="container">
	    <div class="row">
	        <div class="col-md-12">
	            <div class="team-slider">
                    <ul class="slides" id="teamSlider">
                        <li>
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/josh.jpg" alt="Josh">
                        			<h4>Joshua Kornreich</h4>
                        			<span>Founder &amp; Developer</span>
                        			<p>I am a problem solver.  I like to help people build their dreams.</p>
                        		</div>
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/ryan.jpg" alt="Ryan">
                        			<h4>Ryan Douvlos</h4>
                        			<span>Founder &amp; Designer</span>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        		</div>
                        	</div> <!--/.row-->
                        </li>
                        <li>
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/matt.png" alt="Matt">
                        			<h4>Matt Getz</h4>
                        			<span>Database Architect</span>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        		</div>
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/dylan.png" alt="Dylan">
                        			<h4>Dylan Moore</h4>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        		</div>
                        	</div> <!--/.row-->
                        </li>
                        <li>
                        	<div class="row">
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/omar.png" alt="Omar">
                        			<h4>Omar Jatoi</h4>
                        			<span>System Administrator</span>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        		</div>
                        		<div class="col-xs-12 col-sm-6">
                        			<img src="img/keith.png" alt="Keith">
                        			<h4>Keith Williams</h4>
                        			<span>Full-Stack Engineer</span>
                        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                        		</div>
                        	</div> <!--/.row-->
                        </li>
                    </ul>
                </div>
	        </div>
	    </div> <!--/.row-->
	</div> <!--/.container-->
</section>

<script>
$(document).ready(function() {
    $("#teamSlider").flickity({
        cellAlign: "left",
        contain: true,
        prevNextButtons: true,
        autoPlay: true
    });

    alert('yo')
});
</script>

