<header>
  <section class="hero">
    <div class="texture-overlay"></div>
    <div class="container">
      <div class="row nav-wrapper">
        <div class="col-md-6 col-sm-6 col-xs-6 text-left logo">
          <a href="#"><img src="img/tri-tier.png" alt="Tier 27 Logo" width="35"> tier <span>27</span></a>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right navicon">
          <p>MENU</p><a id="trigger-overlay" class="nav_slide_button nav-toggle" href="#"><span></span></a>
        </div>
      </div>
      <div class="row hero-content">
        <div class="col-md-12 text-center">
          <h1>Lorem ipsum dolor sit amet, consectetur.</h1>
          <h3>adipiscing elit, sed do eiusmod tempor incididunt ut labore</h3>
          <input class="" name="commit" type="submit" value="Learn More">
        </div>
      </div>
    </div>
  </section>
</header>
